<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <ion-icon name="car-sport-outline"></ion-icon>
      Car
    </ion-tab-button>
    <ion-tab-button tab="product-page">
      <ion-icon name="business-outline"></ion-icon>
      Business
    </ion-tab-button>
    <!-- <ion-tab-button tab="library">
      <ion-icon name="people-circle-outline"></ion-icon>
      Liên Hệ
    </ion-tab-button> -->
    <!-- <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
