<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Thống kê số liệu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="9">
                <ion-item>
                  <ion-label position="stacked" [class.color-flash]="flashLabel">Xin mời nhập số liệu</ion-label>
                  <ion-input maxlength="3" [(ngModel)]="inputValue" placeholder="Nhập chuỗi 3 số" type="tel"
                    pattern="[0-9]*" inputmode="numeric" clearInput>
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="btn-add">
                <ion-button expand="full" color="success" (click)="onSubmit()">Thêm</ion-button>
              </ion-col>
            </ion-row>

          </ion-card-content>
          <ion-text color="medium">
            <p>Lần thêm cuối cùng: {{ lastSubmitTime }}</p>
          </ion-text>
        </ion-card-header>
        <ion-row>
          <ion-card>
            <ion-card-header>
              <ion-text>
                <h1>
                  <p *ngFor="let suggestion of suggestions">
                    {{ suggestion.sequence }} ({{ suggestion.count }} lần) {{ suggestion.probability }}%
                  </p>
                  <p *ngIf="mostFrequentSequence">
                    Dự đoán: <ion-text color="success">{{ mostFrequentSequence }}</ion-text>
                  </p>
                </h1>
                <p *ngIf="!mostFrequentSequence">
                  <ion-text color="warning">Chưa xác định được kết quả!</ion-text>
                </p>
              </ion-text>
            </ion-card-header>
          </ion-card>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <span>{{ storedSequence }}</span>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-button color="medium" (click)="removeLastEntry()">Redo</ion-button>
            <ion-button color="primary" (click)="exportToPDF()">Tải</ion-button>
            <ion-button color="danger" (click)="removeCache()">Xóa cache</ion-button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>